.vscode

system/src/core/microservices/ingestion/eda.ipynb

temp.ipynb
test.ipynb

logs/

**/pycache/

**/__pycache__/

system/src/core/config/.env

system/dataset/raw/nfcorpus.tar.gz

system/dataset/raw/nfcorpus

system/src/core/microservices/evaluation/evaluate.py

requirements.txt

diseases_v2.txt
diseases_v3.txt
diseases_v4_5.txt

app2.py

# system/src/core/microservices/streamlit

system/src/core/microsservices/streamlit/interface.py
system\src\core\microservices\streamlit\interface.py
system/src/core/microservices/streamlit/interface_cloud.py

system/src/frontend/db.json
system/src/frontend/src/app/models/conversation.model.ts
system/src/frontend/src/app/models/message.model.ts
system/src/frontend/src/app/pages/chat/chat.service.ts

system/src/core/components/advanced/test_query.md

system/src/core/components/advanced/query_optimization/test_query_expanison.md
system/src/core/components/advanced/query_optimization/test_semantic_router.md

system/src/core/interface/models/deeplabv3_plus_pretrained_model_isic_2018.pth.tar


system/src/interface/models/deeplabv3_plus_pretrained_model_isic_2018.pth.tar

system/src/interface/finetuned_models

storage/deeplabv3_plus_pretrained_model_isic_2018.pth.tar

storage/resnet18_isic2018_5_epochs.pth

# storage/ISIC2018_Task3_Training_Input

storage/resnet18_isic2018_5_epochs.zip

system/src/core/components/http_ca.crt

system/src/interface/draft_manuscript_v2.pdf

system/src/core/config/.env


# storage
# system

# system/src
system\src\core

eval_v2.ipynb
eval.ipynb

data_sample_50_predicted.csv

eval_v1.csv

eval_v2.csv